body {
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    background-color: #343a40; /* Cor de fundo do cabeçalho */
}

section {
    margin-bottom: 5px;
    
    
    padding: 4px;
    
    margin: 40px 0;
}

img {
    border: 5px
}